td,th
{
	border: 1px solid gray;
}

table
{
	border-collapse: collapse;
	max-width: 100%;
	border: 2px solid gray;
}


.dataTables_wrapper {
	display: inline-block;
	margin: 15px;
	vertical-align: top;
}
