.dataTables_wrapper {

}

.dataTables_wrapper .dataTables_filter {
	margin-bottom: 10px;
}

#DataTables_Table_0_wrapper
{
	margin: auto;
	width: 88%;
}

#DataTables_Table_1_wrapper
{
	margin: auto;
	width: 80%;
}
