td,th
{
	border: 1px solid gray;
}

table
{
	border-collapse: collapse;
	max-width: 100%;
	border: 2px solid gray;
}


.dataTables_wrapper {
	margin: 15px;
}

#DataTables_Table_0_wrapper
{
	width: 52%;
}

#DataTables_Table_1_wrapper
{
	width: 30%;
}
