td,th
{
	border: 1px solid gray;
}

table
{
	border-collapse: collapse;
	max-width: 100%;
	border: 2px solid gray;
}


.dataTables_wrapper {
}

#DataTables_Table_0_wrapper
{
	margin: auto;
	width: 80%;
}

#DataTables_Table_1_wrapper
{
	margin: auto;
	width: 80%;
}
